{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "ignorePatterns": [
    "projects/**/*"
  ],
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@angular-eslint/recommended",
        "plugin:@angular-eslint/template/process-inline-templates"
      ],
      "rules": {
        "@angular-eslint/directive-selector": [
          "error",
          {
            "type": "attribute",
            "prefix": "app",
            "style": "camelCase"
          }
        ],
        "@angular-eslint/component-selector": [
          "error",
          {
            "type": "element",
            "prefix": "app",
            "style": "kebab-case"
          }
        ],
        "no-undef":"warn"
      }
    },
    {
      "files": [
        "*.html"
      ],
      "extends": [
        "plugin:@angular-eslint/template/recommended",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {"@typescript-eslint/no-explicit-any":"off",
      "@typescript-eslint/no-non-null-assertion":"off",
      "@typescript-eslint/no-unused-vars":["warn",
  {
      "argsIgnorePattern":"^_",
      "varsIgnorePattern":"^((React)|_",
      "caughtErrorsIgnorePattern":"^_"
  }],

  "linebreak-style":"off",
  "quotes":[0],
  "@typescript-eslint/quotes":["error","double"],
  "import-orders":[0],

  "prettier/prettier":[
      "off",
      {
          "endOfLine":"auto",
          "singleQuote":true
      }
  ]}
    }
  ]
}
