
.beer-detail{
    display: flex;
    align-items:center ;
    max-height: fit-content;
    width: fit-content;
    max-width: 512px;
    max-height: 512px;
    padding:var(--p4);
    margin-bottom: var(--p4); 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: lightgrey;
    }
    
  .beer-detail:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}

mat-card-header{
    align-items:center;
    justify-content:center ;
}

mat-card-title{
display: flex;
justify-content: center
}

mat-card-subtitle{
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

mat-card-content{
display:flex;
flex-direction: row;
padding-top: var(--p3);
}

.beer-description{
    padding: var(--p2);
}

img{
    max-height: 200px;
}

mat-grid-list{
    top: var(--p6);
}

mat-button-toggle-group{
    position: fixed;
    top:var(--p6);
    left: var(--p2);
    z-index: 10;
}